@model IEnumerable<MovieShop.Models.TopCustomer>

@foreach (var item in Model)
{
    <div class="col-md-8 tbMargin">
        <div>
            <h2>
                Top Customer of our Shop is @item.CustomerName,with ToTal Purchase Amount is @item.TotalPrice kr
            </h2>
        </div>
    </div>
}
