@model MovieShop.Models.FrontPageQueriesDisplay


@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="bg-warning">
        <partial name="_movieListPartial" model="@Model.Top5Latest">New Releases</partial>
    </div>
</div>
<hr />
<br />
<div>
    <div class="bg-info">
        <partial name="_movieListPartial" model="Model.Top5Oldest">Classical Movies</partial>
    </div>
</div>
<hr />
<br />
<div>
    <div class="bg-success">
        <partial name="_movieListPartial" model="@Model.Top5Cheapest">Low-Priced Movies</partial>
    </div>
</div>
<br />
<hr />
<div>
    <div class="bg-primary">
        <partial name="_movieListPartial" model="@Model.AllMovies">All Movies</partial>
    </div>
</div>
<hr />