@model MovieShop.Models.FrontPageQueriesDisplay


@{
    ViewData["Title"] = "Index";
}

<div class="float-end">
    <form asp-Controller="Movie" asp-action="SearchResult">
        <label for="byParameter"></label>
        <input type="text" name="byParameter" id="byParameter" />
        <button class="btn btn-primary" type="submit">Search</button>     
</form>
</div>
<br />
<br />
<br />
<br />
<div class="row bg-warning">
    <h2 class="float-md-start text-light">New Releases</h2>
    <div>
        <partial name="_movieListPartial" model="@Model.Top5Latest"></partial>
    </div>
</div>
<hr />
<br />
<div class="row bg-info">
    <h2 class="float-md-start text-light">Old Classics</h2>
    <div>
        <partial name="_movieListPartial" model="Model.Top5Oldest"></partial>
    </div>
</div>
<hr />
<br />
<div class="row bg-success">
    <h2 class="float-md-start text-light">Low-Priced Movies</h2>
    <div>
        <partial name="_movieListPartial" model="@Model.Top5Cheapest"></partial>
    </div>
</div>
<br />
<hr />
<div class="row bg-primary">
    <h2 class="float-md-start text-light">All Movies</h2>
    <div>
        <partial name="_movieListPartial" model="@Model.AllMovies"></partial>
    </div>
</div>
<hr />
