@model MovieShop.Models.FrontPageQueriesDisplay


@{
    ViewData["Title"] = "Index";
}


<div class="tbMargin">
    <h1>Welcome.</h1>
    <h2>Discover your favourite Movies ,from our good collections.Explore now.</h2>
</div>

<div class="row">
    <form asp-Controller="Movie" asp-action="SearchResult">
        <label for="byParameter"></label>
        <input type="text" name="byParameter" id="byParameter" class="searchBar" placeholder="Search for a Movie......" />
        <button class="searchBtn" type="submit">Search</button>
    </form>
</div>

<br />
<br />

<div class="row tbMn">
    <div>
        <partial name="_topCustomerViewPartial" model="Model.TopCustomer"></partial>
    </div>
</div>
<hr />
<div class="row bg-danger tbMargin">
    <h2 class="float-md-start text-light">Movies to display like carousal</h2>
    <div>
        <partial name="_movieListPartial" model="Model.Top20Latest"></partial>
    </div>
</div>
<hr />
<div class="row bg-info tbMargin">
    <h2 class="float-md-start text-light">Trending Movies</h2>
    <div>
        <partial name="_movieListPartial" model="Model.MostPopular"></partial>
    </div>
</div>
<hr />

<div class="row bg-warning tbMargin">
    <h2 class="float-md-start text-light">New Releases</h2>
    <div>
        <partial name="_movieListPartial" model="Model.Top5Latest"></partial>
    </div>
</div>
<hr />

<div class="row bg-info tbMargin">
    <h2 class="float-md-start text-light">Old Classics</h2>
    <div>
        <partial name="_movieListPartial" model="Model.Top5Oldest"></partial>
    </div>
</div>
<hr />
<div class="row bg-success tbMargin">
    <h2 class="float-md-start text-light">Low-Priced Movies</h2>
    <div>
        <partial name="_movieListPartial" model="@Model.Top5Cheapest"></partial>
    </div>
</div>
<hr />
<div class="row bg-primary tbMargin">
    <h2 class="float-md-start text-light">All Movies</h2>
    <div>
        <partial name="_movieListPartial" model="@Model.AllMovies"></partial>
    </div>
</div>
<hr />
