@model MovieShop.Models.ViewModels.CartViewModel



<div class="container">
    <div class="row">
        <partial name="_CartCheckOutListPartial"></partial>     <!-- PARTIAL , EACH MOVIE THAT EXIST IN THE CART SEPARATELY-->
    </div>
</div>



