@model MovieShop.Models.DataBase.Movie


@{
    ViewData["Title"] = "Details";
}

<div class="col-md-8 bg-light">
    <div>
        <h3>
            @Model.Title
        </h3>
    </div>
    <div>
        <em>Directed By:@Model.Director</em>
        Released in:@Model.ReleaseYear
    </div>
    <div class="offset-md-3">
        <strong>Price:@Model.Price</strong>
        <hr />
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

