@model IEnumerable<MovieShop.Models.DataBase.Movie>

@{
    ViewData["Title"] = "Movies";
}

<div class="container mt-4">
    <br />
    <br />
    <br />
    <h2 class="mb-4">List of Movies</h2>

    @Html.Partial("_movieListPartial", Model)

</div>