
@{
    ViewData["Title"] = "MovieSuccess";
}
<div class="row">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>Movie Entered Successfully</h3>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>


